bounce/__pycache__/bounce.cpython-36.pyc leibniz/__pycache__/leibniz.cpython-36.pyc loan/__pycache__/loan.cpython-36.pyc payroll/__pycache__/payroll.cpython-36.pyc sphere/__pycache__/sphere.cpython-36.pyc
